
        body {
            margin: 20px;
            text-align: 100px;
            text-shadow: 2px 2px 4px white;
           background-image: url("https://media1.lajumate.ro/media/i/m_new_gal/2/162/16223482_vand-covor-mobexpert-fluffy-long-culoare-whitebej-dimensiune-130x20_2.jpg");
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            background-position: fixed; 
            background-repeat: no-repeat;
 
            
        }
        input {
            width: 300px;
            padding: 10px;
            margin-bottom: 20px;
            font-size: 16px;
        }
        .country-list {
            max-width: 1500px;
            margin: 0 auto;
            text-align: left;
            
        }
        .country {
            
            justify-content: space-between;
            padding: 30px;
            border-bottom: 1.5px solid #ccc;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            display: flex;
            align-self: start;
            cursor: pointer;     
            position: relative;
            align-items: flex-start;
         }

        .country:hover {
            background-color: lightgray;
        }
         
        .population {
            font-size: 14px;

        }
        .flag {
            width: 50px;
            height: 30px;
            
        }

        .capital {
            font-weight: bold;
           
    
        }
 